main, footer {
    max-width: 60em;
    margin: 0 auto;
}

footer {
    margin-top: 2em;
}

#searchcontrols {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}

input {
    padding: 0.5em 0.5em;
}

#search-oj, #search-en {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: stretch;
    padding: 0 0.5em;
}

#results {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
}
#results tr:nth-child(odd) {
    background-color: #f8f8f8;
}
#results td {
    margin: 0;
    padding: 0.5em 0.5em;
    vertical-align: top;
}

#results thead {
    position: sticky;
}

#resultslist tr:nth-child(odd) {
    background-color: #0001;
}

ins.oj-suffix {
    color: #0008;
    text-decoration: none;
}

.en-words > li {
    display: block;
}

